body
{
    margin: 0;
    padding: 0;
}

select
{
    margin-top: 5px;
}

label
{
    margin-top: 20px;
}

button,a
{
    margin-top: 20px;
}

input
{
    width: 15px;
    height: 15px;
}

.box
{
    margin-top: 20px;
    border: 1px dashed #595959;
}
